/* -------------------------------
  Banner
------------------------------- */
div.simple-banner {
	position: absolute;
	inset: 0;
	z-index: 1;
	width: calc(100% - (var(--sb-padding) * 2));
	height: 100%;
	margin-left: var(--sb-padding);
	max-height: calc(var(--sb-height) - 24px);
	padding: var(--size-4-3) var(--size-4-3) 0 var(--size-4-3);
	user-select: none;

	& > video {
		inset: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 2;
		object-position: calc(50% + var(--sb-img-x)) calc(50% + var(--sb-img-y));
		border-radius: var(--sb-radius);
	}

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 2;
		box-shadow: inset 0 2px 4px 1px rgba(0, 0, 0, 0.1);
		border-radius: var(--sb-radius);
		background-color: rgba(0,0,0,.2);
		background-image: var(--sb-url);
		background-repeat: var(--sb-repeat);
		background-size: var(--sb-size);
		background-position-x: calc(50% + var(--sb-img-x));
		background-position-y: calc(50% + var(--sb-img-y));
		backface-visibility: hidden;
	}

	&:after {
		position: absolute;
		inset: 0;
		z-index: 3;
		content: '';
		border-radius: var(--sb-radius);
		background: var(--sb-mask);
		background: var(--sb-mask-webkit);
		overflow: hidden;
	}

	&.static:after {
		animation: none;
	}

	& + div {
		position: relative;
		z-index: 4;
	}
}

body {
	&.is-phone, &.is-tablet {
		div.simple-banner {
			width: calc(100% - (var(--sb-padding) * 2));
		}
	}
}

